	
  nav {
    margin: 10px;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 0px;
    background-color: red;
    font-family: Arial;
	font-size: large;
	color: #FFFFFF;
  }
  
 td {
	 padding-top: 5px;
	  }
     
  a { 
    text-decoration: none;
	color: #FFFFFF;
}
  
  .main {
	background-color: white;
      }
  
  .other:hover {
	background-color: black;  
  }
  
  